body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A59132;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
